<div id="user">
  <h1><%= @user.name %>'s Dashboard</h1>
</div>

<%= button_to "Discover Movies", user_discover_index_path(@user.id),  method: :get, local: true %>

<div id="parties">
  <h2>Viewing Parties: </h2>
    <% @user.parties.each do |party| %>

        <p>Movie id: <%= party.movie_id %> </p>
        <p>Date: <%= party.date %> </p>
        <p>Start time: <%= party.start_time %> </p>
        <p>Duration: <%= party.duration %> </p>
    <% end %>
</div>